body {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1d1d1d;
}

.title {
  color: #8f94ff;
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  padding: 78px 0px;
}
@media (max-width: 1200px) {
  .title {
    font-size: 38px;
  }
}

.title-text {
  color: var(--white, #fff);
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .title-text {
    font-size: 40px;
  }
}

.first-chair {
  background-image: url(/image/first\ chair.png) no-repeat;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 3) {
  .first-chair {
    background-image: url(/image/first\ chair@2x.png) no-repeat;
    background-size: cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3) {
  .first-chair {
    background-image: url(/image/first\ chair@3x.png) no-repeat;
    background-size: cover;
  }
}

.lamp {
  background-image: url(/image/lamp.png) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 3) {
  .lamp {
    background-image: url(/image/lamp@2x.png) no-repeat;
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3) {
  .lamp {
    background-image: url(/image/lamp@3x.png) no-repeat;
  }
}

.second-chair {
  background-image: url(/image/second\ chair.png) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx), (min-device-pixel-ratio: 3) {
  .second-chair {
    background-image: url(/image/second\ chair@2x.png) no-repeat;
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx), (min-device-pixel-ratio: 3) {
  .second-chair {
    background-image: url(/image/second\ chair@3x.png) no-repeat;
  }
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 1200px) {
  .images {
    display: inline;
  }
}