.footer {
  background-image: url(/image/bgimage.png);
  width: 1400px;
  height: 1000px;

  @media (max-width: 1200px) {
    background-image: url(/image/bgimage.png);
    width: 390px;
    height: 370px;
  }
}

.footer-title {
  color: white;
  font-size: 84px;
  font-style: normal;
  font-weight: 400;
  margin-left: 60px;

  @media (max-width: 1200px) {
    font-size: 24px;
    margin-left: 14px;
  }
}

.footer-text {
  color: white;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  margin-left: 60px;

  @media (max-width: 1200px) {
    font-size: 14px;
    margin-left: 14px;
  }
}

.footer-list {
  color: white;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  margin-left: 60px;

  @media (max-width: 1200px) {
    font-size: 12px;
    margin-left: 0px;
  }
}

.input {
  padding: 67px 450px 67px 113px;
  margin-left: 60px;

  @media (max-width: 1200px) {
    padding: 10px 45px 10px 22px;
    margin-left: 14px;
  }
}

.button {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: white;
  padding: 67px 93px;
  background-color: #2a254b;

  @media (max-width: 1200px) {
    padding: 10px 20px;
    margin-left: 4px;
  }
}
