.title {
  color: #8f94ff;
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  padding: 78px 0px;

  @media (max-width: 1200px) {
    font-size: 38px;
  }
}

.title-text {
  color: var(--white, #fff);
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;

  @media (max-width: 1200px) {
    font-size: 40px;
  }
}
