.first-chair {
  background-image: url(/image/chair.png) no-repeat;

  @media (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 3) {
    background-image: url(/image/chair@2x.png) no-repeat;
  }
  @media (min-resolution: 288dpi),
    (min-resolution: 3dppx),
    (min-device-pixel-ratio: 3) {
    background-image: url(/image/chair@3x.png) no-repeat;
  }
}

.lamp {
  background-image: url(/image/lamp.png) no-repeat;

  @media (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 3) {
    background-image: url(/image/lamp@2x.png) no-repeat;
  }
  @media (min-resolution: 288dpi),
    (min-resolution: 3dppx),
    (min-device-pixel-ratio: 3) {
    background-image: url(/image/lamp@3x.png) no-repeat;
  }
}

.nightstand {
  background-image: url(/image/Nightstand.png) no-repeat;

  @media (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 3) {
    background-image: url(/image/Nightstand@2x.png) no-repeat;
  }
  @media (min-resolution: 288dpi),
    (min-resolution: 3dppx),
    (min-device-pixel-ratio: 3) {
    background-image: url(/image/Nightstand@3x.png) no-repeat;
  }
}

.stool {
  background-image: url(/image/stool.png) no-repeat;

  @media (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 3) {
    background-image: url(/image/stool@2x.png) no-repeat;
  }
  @media (min-resolution: 288dpi),
    (min-resolution: 3dppx),
    (min-device-pixel-ratio: 3) {
    background-image: url(/image/stool@3x.png) no-repeat;
  }
}

.vase {
  background-image: url(/image/vase.png) no-repeat;

  @media (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 3) {
    background-image: url(/image/vase@2x.png) no-repeat;
  }
  @media (min-resolution: 288dpi),
    (min-resolution: 3dppx),
    (min-device-pixel-ratio: 3) {
    background-image: url(/image/vase@3x.png) no-repeat;
  }
}
.images {
  display: flex;
  gap: 38px;
  justify-content: center;
  @media (max-width: 1200px) {
    display: inline;
  }
}

.product-info {
  color: white;
}

.product-price {
  color: white;
}
